<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    Angular Simple CRUD
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">

      </ul>
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Insert a new Employe
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <img width="300" src="" alt="Angular Logo">
    </div>
  </div>
</div>
